body {
    text-align: center;
    background: linear-gradient(#4078c0 20%, #c9510c 100%);
    background-repeat: no-repeat;
}




h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 40px;
}


p {
    font-size: 25px;
    color: #6A1B9A;


}

h2 {
    font-size: 20px;
    color: #A5D8EF;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

   
}
img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.menu{
    list-style: none;
    position: fixed;
    top: 0px;  
    right:10px;
    cursor: pointer;
    z-index: 10;    
    padding:2%;
}
.links {
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}
.links:hover {
    background-color:coral;
    color: aliceblue;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.article:hover {
    color:fuchsia;
}
section{
    background-color:sandybrown;    
}
#ABOUT{
    padding:5%;
}
section  h1{
    background: white;
    padding:1%;
    color:sienna;
    font-weight: bold;
    text-align: center;
}
section h2{
    color:white;
    font-weight:bold;
    text-align: center;
}
P{
    padding: 2%;
}
